<div class="wave-field" aria-hidden="true"></div>
<img class="cloud-field cloud-field-one" src="{{ "images/wirenook/cassidy-grill.png" | relURL }}" alt="">
<img class="cloud-field volume-cloud cloud-field-two" src="{{ "images/wirenook/volumetric-clouds.png" | relURL }}" alt="">
<img class="cloud-field cloud-field-three" src="{{ "images/wirenook/grid-square.png" | relURL }}" alt="">
<img class="cloud-field volume-cloud cloud-field-four" src="{{ "images/wirenook/volumetric-clouds.png" | relURL }}" alt="">
<img class="cloud-field cloud-field-five" src="{{ "images/wirenook/clouds.svg" | relURL }}" alt="">
<div class="sigil-lines" aria-hidden="true"></div>
