<div class="wave-field" aria-hidden="true"></div>
<img class="cloud-field cloud-field-one" src="{{ "images/clouds.svg" | relURL }}" alt="">
<img class="cloud-field volume-cloud cloud-field-two" src="{{ "images/volumetric_clouds.png" | relURL }}" alt="">
<img class="cloud-field cloud-field-three" src="{{ "images/clouds.svg" | relURL }}" alt="">
<img class="cloud-field volume-cloud cloud-field-four" src="{{ "images/volumetric_clouds.png" | relURL }}" alt="">
<div class="sigil-lines" aria-hidden="true"></div>
