<!-- TODO make wirenook.net/adam-carpenter redirect here -->
<!-- TODO make this page look ominous and like it's not from wirenook.net -->

<img src="no-relicensing/MERX_design.png" />

The domain name has been seized by the Paracausality division of the Machine Entity Resource Index, Office of the Special Agent in Charge (IP retired), in accordance with a warrant obtained with the assistance of the U.S. Attourney's Office for the District of Texas, and issued pursuant to 18 U.S.C. § 2703(d) and 18 U.S.C. § 2705(b). The seizure was executed on the grounds that the domain name was being used to facilitate activities that are in violation of federal law, including but not limited to, the distribution of illegal content and the coordination of unauthorized access to protected systems.
